body{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	}

header{
	background-image: url(../image/pudge-back.jpeg);
	text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
}

h1,h2{
	font-family: 'Chilanka', cursive;
}

header h1 a{
	color: white;
	font-family: 'Chilanka', cursive;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 25px solid white;
}
/*Main CSS*/

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}
main img{
	max-width: 100%
}
h2{
	font-size: 35px;
    color: darkgoldenrod;
    margin: 40px 0 10px;
}

p{
	font-size: 22px;
}
ol{
	font-size: 22px;
}
ul{
	font-size: 22px;
}


a{
	color: darkgoldenrod;
}
a:hover{
	color: white;
	background-color: #17828a ;
}

li.hook:hover{
	background-color: #ff0f00;
	color:  #040404;
}
p.caption:hover{
	background-color: #ff0f00;
	color:  #040404;
}
ol p{
	margin-top: 0;
}

/*Footer*/

footer{
	text-align: center;
	background-color: darkgoldenrod;
	padding: 50px;
	color: white;
	
}
footer p{
	margin: 0;

}

.caption{
	color:  #ff0f00;
	margin-top: 0;
	font-style: italic;
	text-align: center;
}
.hook{
	color:  #ff0f00;
	font-style: italic;
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: 40px;
	margin-top: 0;
}
.spotlight{
	margin: 0px auto;

}
.sizing{
	margin-bottom: 5px;
}
ul.spotlight{
	margin-bottom: 20px
}